$main-color: #ff2b58;
$main-background: #2b2c36;
$dark-color: #2b2c36;
$dark-lighten-color: #4e5663;
$main-text-color: $dark-lighten-color;
$gray: #9698a3;
$light-gray: #a4abb3;

$title-color: $dark-color;
$link-hover-color: #6b748b;

$path-to-fonts: '../../fonts/';
$path-to-images: '../../images/';

$media-xl-max: 1360px;
$media-md-max: 999px;
$media-sm-max: 767px;
$media-xs-max: 480px;
