@import '../../global/css/_variables';

.iceland {
  &__header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 310px;
    display: -ms-flexbox;
    display: -webkit-flex;
    -ms-flex-pack: center;
    background-color: $main-background;

  }

  &__header-title {
    margin-top: 100px;
    font-size: 60px;
    line-height: 1.4;
    font-weight: 300;
    letter-spacing: -.05em;
    text-transform: uppercase;
    color: #fff;
    @media screen and (max-width: $media-md-max) {
      font-size: 32px;
    }
  }

  &__section {
    justify-content: center;
    padding: 128px 20px;
    &--first {
      background: $main-color url($path-to-images + 'iceland-bg1.jpg') no-repeat bottom center/contain;
    }
    &--second {
      background-color: $main-background;
    }
    &--fourth {
      background-color: $main-color;
    }
  }

  &__image {
    display: flex;
    margin: 0 auto;
    &--first {
      width: 520px;
    }
    &--second {
      width: 857px;
    }
    &--third,
    &--fourth {
      width: 1024px;
    }
  }

  &__section-title,
  &__section-description {
    line-height: 1.4;
    font-weight: 300;
    letter-spacing: 0;
    margin-bottom: 24px;
    text-align: center;
    &--main-color {
      color: $main-color;
    }
    &--white-color {
      color: #fff;
    }
  }

  &__section-title {
    font-size: 40px;
    text-transform: uppercase;
    @media screen and (max-width: $media-md-max) {
      font-size: 28px;
      margin-bottom: 16px;
    }
  }

  &__section-description {
    font-size: 24px;
  }
}
